<h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table>
      <tr>
      <td><label>Email:</label></td>
      <td><input type="email"   formControlName="email"></td>
      <td><div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Email is required
      </div></td>
      </tr>
      <tr>
      <td><label>Password:</label></td>
      <td><input type="password" formControlName="password"></td>
      <td><div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </div></td>
      </tr>
      <tr>
       <button type="submit" [disabled]="loginForm.invalid">Login</button>

      </tr>
      </table>

         </form>

    <p>{{ message }}</p>